# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings*.php
*settings.php*
*sites.php*
*.cache

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*/*/files
docroot/sites/*/*/private
